/* stylelint-disable declaration-property-value-allowed-list */
/* stylelint-disable at-rule-allowed-list */
/* stylelint-disable annotation-no-unknown */
:root {
  --app-width: 100%;

  // Fonts
  --font-family-base-regular: 'SST-Roman', sans-serif;
  --font-family-base-heavy: 'SST-Heavy', sans-serif;
  --font-weight-regular: 400;
  --font-weight-heavy: 900;

  // Type scale
  --fs-h1: 2.101rem;
  --fs-h2: 1.811rem;
  --fs-h3: 1.561rem;
  --fs-h4: 1.346rem;
  --fs-h5: 1.16rem;
  --fs-h6: 1rem;
  --fs-body: 1rem;
  --fs-body-assertive: 1.16rem;
  --fs-body-subtle: 0.906rem;
  --fs-small: 0.75rem;
  --fs-display: 2.436rem;
  --ffs-body-assertive: 1.125rem; // NOTE: this is a one-off size

  // Space scale
  --space-xxs: 0.063rem;
  --space-xs: 0.125rem;
  --space-sm: 0.25rem;
  --space-md: 0.5rem;
  --space-lg: 0.75rem;
  --space-2x: 1rem;
  --space-3x: 1.5rem;
  --space-4x: 2rem;
  --space-6x: 3rem;
  --space-8x: 4rem;
  --space-12x: 6rem;
  --space-15x: 7.5rem;

  // Negative spaces
  --space-negative-xs: calc(0rem - var(--space-xs));
  --space-negative-xxs: calc(0rem - var(--space-xxs));

  // Box shadows
  --box-shadow-primary: 0 0 var(--space-lg) 0 var(--box-shadow-primary-color);
  --box-shadow-secondary: 0 var(--space-xs) var(--space-2x) 0 var(--box-shadow-secondary-color);
  --box-shadow-tertiary: 0 var(--space-xs) 0.625rem 0 var(--box-shadow-tertiary-color);
}

@media (min-width: $breakpoint-lg-min) {
  :root {
    --app-width: 60rem;
    --fs-h1: 2.574rem;
    --fs-h2: 2.181rem;
    --fs-h3: 1.848rem;
    --fs-h4: 1.5666rem;
    --fs-h5: 1.328rem;
    --fs-h6: 1.125rem;
    --fs-body: 1.125rem;
    --fs-body-assertive: 1.328rem;
    --fs-body-subtle: 0.906rem;
    --fs-small: 0.75rem;
    --fs-display: 3.036rem;
  }
}

@media (min-width: $breakpoint-xl-min) {
  :root {
    --app-width: 71.25rem;
  }
}

@media (min-width: $breakpoint-xxl-min) {
  :root {
    --app-width: 82.5rem;
  }
}

// Type
$font-path: '../../fonts' !default;

@font-face {
  font-family: 'SST-Roman';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('#{$font-path}/SST-Roman/SST-Roman.eot');
  src:
    url('#{$font-path}/SST-Roman/SST-Roman.woff2') format('woff2'),
    url('#{$font-path}/SST-Roman/SST-Roman.woff') format('woff'),
    url('#{$font-path}/SST-Roman/SST-Roman.ttf') format('truetype'),
    url('#{$font-path}/SST-Roman/SST-Roman.svg#SST-Roman') format('svg'),
    url('#{$font-path}/SST-Roman/SST-Roman.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'SST-Heavy';
  font-style: normal;
  font-weight: 500 900;
  font-display: fallback;
  src: url('#{$font-path}/SST-Heavy/SST-Heavy.eot');
  src:
    url('#{$font-path}/SST-Heavy/SST-Heavy.woff2') format('woff2'),
    url('#{$font-path}/SST-Heavy/SST-Heavy.woff') format('woff'),
    url('#{$font-path}/SST-Heavy/SST-Heavy.ttf') format('truetype'),
    url('#{$font-path}/SST-Heavy/SST-Heavy.svg#SST-Heavy') format('svg'),
    url('#{$font-path}/SST-Heavy/SST-Heavy.eot?#iefix') format('embedded-opentype');
}
